<div class="ui form segment">
    <div class="three fields">
        <div class="field">
            <label>Website</label>
            <div class="ui left input">
              <input type="text" placeholder="Website" ng-model="site.title">
            </div>
        </div>       
        <div class="field">
            <label>URL</label>
            <div class="ui left input">
              <input type="text" placeholder="https://..." ng-model="site.url">
            </div>
        </div>
        <div class="field">
            <label>Importance</label>
            <select ng-model="site.importance" ng-init="site.importance = site.importance || 10" style="border: 1px solid rgba(0,0,0,.15); width: 100%; margin: 0; border-radius: .3125em; font-size: 1em; color: rgba(0,0,0,.7); height: 42px;">
                <option value="10">High</option>
                <option value="20">Medium</option>
                <option value="40">Low</option>
            </select>
        </div>
    </div>
    <div class="field">
        <div ng-if="!site.id" class="ui blue submit button" ng-click="addWebsite(site)">Submit</div>
        <div ng-if="site.id" class="ui blue submit button" ng-click="updateWebsite(site)">Update</div>
    </div>
</div>

<table class="ui column table segment" ng-init="predicate='importance'; reverse='false';">
    <thead>
        <tr>
            <th class="one wide">Action</th>
            <th class="one wide"><a href="" ng-click="predicate = 'importance'; reverse=!reverse">Importance</a></th>
            <th class="four wide"><a href="" ng-click="predicate = 'site'; reverse=!reverse">Site</a></th>            
            <th class="ten wide">URL</th>            
        </tr>
    </thead>
    <tbody>
        <tr  ng-repeat="site in sites | orderBy:predicate:reverse">
            <td><i class="trash icon" ng-click="deleteWebsite(site.id)"></i><i class="pencil icon" ng-click="markToUpdate(site)"></i></td>            
            <td><div importance="{{site.importance}}"></div></td>
            <td>{{site.title}}</td>
            <td><a href="{{site.url}}">{{site.url}}</a></td>
            
        </tr>
    </tbody>
</table>
