<div class="ui two column middle aligned relaxed grid basic segment">
	<div class="row">
		<div class="column">
			<table class="ui column table segment">
				<thead>
					<tr>
						<th><abbr title="Position">#</abbr></th>
						<th>Name</th>
						<th><abbr title="Games played">Pld</abbr></th>
						<th><abbr title="Wins">W</abbr></th>
						<th><abbr title="Draws">D</abbr></th>
						<th><abbr title="Losses">L</abbr></th>
						<th><abbr title="Goals scored">GS</abbr></th>
						<th><abbr title="Goals conceded">GC</abbr></th>
						<th><abbr title="Goal difference">GD</abbr></th>
						<th><abbr title="Points">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in league">
						<td>{{team.position}}</td>
						<td>{{team.name}}</td>
						<td>{{team.played}}</td>
						<td>{{team.wins}}</td>
						<td>{{team.draws}}</td>
						<td>{{team.losses}}</td>
						<td>{{team.gScored}}</td>
						<td>{{team.gConceded}}</td>
						<td>{{team.gDifference}}</td>
						<td>{{team.points}}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="column" ng-show="league2">

			<table class="ui column table segment">
				<thead>
					<tr>
						<th><abbr title="Position">#</abbr></th>
						<th>Name</th>
						<th><abbr title="Games played">Pld</abbr></th>
						<th><abbr title="Wins">W</abbr></th>
						<th><abbr title="Draws">D</abbr></th>
						<th><abbr title="Losses">L</abbr></th>
						<th><abbr title="Goals scored">GS</abbr></th>
						<th><abbr title="Goals conceded">GC</abbr></th>
						<th><abbr title="Goal difference">GD</abbr></th>
						<th><abbr title="Points">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in league2">
						<td>{{team.position}}</td>
						<td>{{team.name}}</td>
						<td>{{team.played}}</td>
						<td>{{team.wins}}</td>
						<td>{{team.draws}}</td>
						<td>{{team.losses}}</td>
						<td>{{team.gScored}}</td>
						<td>{{team.gConceded}}</td>
						<td>{{team.gDifference}}</td>
						<td>{{team.points}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="column" ng-show="feeds">
			<div class="ui list">
				<div class="item" ng-repeat="feed in feeds | filter:filterText"><strong><a
						href="{{feed.link}}" target="_blank"><i
							class="right triangle icon"></i> {{feed.title}}</a></strong></div>
			</div>
		</div>
		<div class="column" ng-show="feeds2">
			<div class="ui list">
				<div class="item" ng-repeat="feed in feeds2 | filter:filterText"><strong><a
						href="{{feed.link}}" target="_blank"><i
							class="right triangle icon"></i> {{feed.title}}</a></strong></div>
			</div>
		</div>
	</div>
</div>